<div class="login-div" *ngIf="isLoginEnable">
  <div class="form-login">
    <div class="sign-in-form">
      <h4 class="text-center">Login</h4>
      <label for="sign-in-form-username">Username</label>
      <input  type="text" class="sign-in-form-username" id="sign-in-form-username" [(ngModel)]="username" >
      <label  for="sign-in-form-password" >Password</label>
      <input type="text" class="sign-in-form-password" id="sign-in-form-password" [(ngModel)]="password">
      <button (click)='login()' type="" class="sign-in-form-button">Login</button>
    </div>

  </div>
</div>

<div class='form-add-info'>
  <div id="wrapper p50" *ngIf="isRequestEnable">
		<p id="hi"></p>
	</div>
  <div class="login-div">
    <div class="sign-in-form" *ngIf="isRequestEnable">
      <form class='form-request' [formGroup]="contactForm" (ngSubmit)="submit()">
        <label *ngIf="isRequestEnable" for="lang">Hola {{user.name}} , por favor ingresa tu solcitiud</label>

        <select formControlName="request">
          <option>Seleccione una especilidad</option>
          <option *ngFor="let esp of this.Sigue.specialities" [ngValue]="esp.id">{{esp.name}}</option>
        </select>

        <textarea>Agrege un comentario </textarea>
        <input class="sign-in-form-button" type="submit" value="Enviar" />
      </form>
    </div>
  </div>
</div>


<div id="ppee" #target class='form-add-info sign-in-form' style="height: 100vh;">
<h2>{{menssage}}</h2>
</div>




<router-outlet />