
<div class="login-div" *ngIf="isLoginEnable">
<div class="form-login">
  <div class="sign-in-form">
    <h4 class="text-center">Login</h4>
    <label for="sign-in-form-username">Username</label>
    <input type="text" class="sign-in-form-username" id="sign-in-form-username">
    <label for="sign-in-form-password">Password</label>
    <input type="text" class="sign-in-form-password" id="sign-in-form-password">
    <button (click)='login("Miguel",1022402279)' type="" class="sign-in-form-button">Login</button>
  </div>

</div>
</div>


<div class="sign-in-form" *ngIf="isRequestEnable">
<form class='form-request'action="#" >
  <label for="lang">Hola {{user.name}} , por favor ingresa tu solcitiud</label>
  <select name="lenguajes" id="lang" >
      <option *ngFor="let esp of this.Sigue.specialities" value="{{esp.id}}">{{esp.name}}</option>

  </select>
  
  <textarea>agrege un comentario </textarea>
  <input class= "sign-in-form-button" type="submit" value="Enviar" />
</form>
</div>





<router-outlet />
